*{
    padding: 0;
    margin: 0;
    /* background-color: rgb(209, 102, 102); */

}
.btn{
    background-color: blue;
    color:white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}